.backstage__signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold);
  border-radius: 0.25rem;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: var(--twitch-purple);
  color: #ffffff;
  text-decoration: none;
  margin: 4rem auto;
  width: max-content;
}

.backstage__signIn svg {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.backstage__overlayLink {
  font-size: 2rem;
  color: var(--white);
  font-weight: var(--font-weight-bold);
  text-decoration-thickness: 0.125rem;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}

.backstage__overlayLink:focus {
  outline: none;
  box-shadow: var(--focus-box-shadow);
}

.backstage__text {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-fg);
  word-break: break-word;
  text-align: center;
}
