:root {
  --red: #f11012;
  --red-darker: #d90d10;
  --green: #82af3a;
  --black: #0f111a;
  --white: #ffffff;
  --offwhite: #f8f8f2;
  --turquoise: #489fb9;
  --pink: #cf4a88;
  --purple: #633395;
  --twitch-purple: #9147ff;
  --yellow: #ffb626;
  --grid-unit: 0.5rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-family-heading: "Work Sans", sans-serif;
  --font-family-body: "Work Sans", sans-serif;
  --global-transition-time: 0.2s;

  --focus-box-shadow: var(--red) 0 0 0 0.25rem;

  --color-bg: var(--black);
  --color-fg: var(--white);
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  background-repeat: repeat;
  background-size: 9rem;
  min-height: 100vh;

  color: var(--color-fg);
}

* {
  box-sizing: border-box;
  margin: 0;
}
