.header {
}

.header__nav {
  width: 100%;
}

.header__navList {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  background-color: var(--black);
  border-top: 0.25rem solid var(--red);
  border-bottom: 0.25rem solid var(--red);
}

.header__navListItem {
  display: inline-grid;
}

.header__navListItemLink {
  font-size: clamp(1.3rem, 2vw, 2rem);
  text-decoration: none;
  background-color: var(--black);
  color: var(--color-fg);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  text-align: center;
  letter-spacing: 1px;
  padding: 2rem;
  display: block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.header__navListItemLinkActive {
  background-color: var(--yellow);
  color: var(--color-bg);
}

.header__navListItemLink:focus {
  outline: none;
  box-shadow: var(--focus-box-shadow-yellow);
  color: var(--yellow);
  transition: box-shadow var(--global-transition-time);
}

.header__navListItemLinkActive:focus {
  color: var(--color-bg);
}

@media screen and (min-width: 1080px) {
  .header__navList {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-top: unset;
    border-bottom: unset;
  }

  .header__navListItemLink {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 0.25rem solid var(--white);
    box-shadow: 0.25rem 0.25rem 0 0 var(--yellow);
  }
}
