.header {
}

.header__logoContainer:focus {
  outline: none;
  box-shadow: var(--focus-box-shadow);
  transition: box-shadow var(--global-transition-time);
}

.header__nav {
  width: 100%;
}

.header__navList {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
}

.header__navListItem {
  display: inline-grid;
}

.header__navListItemLink {
  font-size: clamp(1.3rem, 2vw, 2rem);
  text-decoration: none;
  color: var(--color-fg);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-shadow: 3px 3px var(--black);
  letter-spacing: 1px;
  display: block;
  padding: 2rem;
}

.header__navListItemLink:focus {
  outline: none;
  box-shadow: var(--focus-box-shadow);
  transition: box-shadow var(--global-transition-time);
}

@media screen and (min-width: 1080px) {
  .header__navList {
    display: flex;
    flex-direction: column;
  }

  .header__navListItemLink {
    padding: 1rem;
  }
}
