.joinDiscord {
  position: relative;
  text-decoration: none;
  display: block;
  margin: 3rem auto 6rem auto;
  max-width: calc(100% - 4rem);
  border: 0.25rem solid var(--yellow);
  box-shadow: 0.4rem 0.4rem 0 0 var(--red);
  padding: 1.5rem 2rem;
}

.joinDiscord:focus,
.joinDiscord:hover {
  transition: all var(--global-transition-time);
  outline: none;
  box-shadow: var(--focus-box-shadow);
}

.joinDiscord:focus .joinDiscord__cta {
  color: var(--yellow);
}

.joinDiscord__cta {
  display: block;
  color: var(--white);
  text-transform: uppercase;
  font-size: clamp(1.4rem, 2.2vw, 2.2rem);
  text-shadow: 2px 2px var(--red-darker);
  font-weight: var(--font-weight-bold);
  background-color: var(--black);
  text-align: center;
  text-decoration: none;
}

.joinDiscord__checkOut {
  color: var(--white);
  font-weight: var(--font-weight-bold);
  z-index: 2;
  padding: 0.25rem 0.75rem;
  background-color: var(--black);
  border: 0.25rem solid var(--white);
  box-shadow: 0.25rem 0.25rem 0 0 var(--yellow);
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  line-height: 1.6;
  left: 50%;
  top: -2rem;
  transform: translateX(-50%);
}

.joinDiscord__discord {
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(20deg);
  bottom: -3.5rem;
}

@media screen and (min-width: 1325px) {
  .joinDiscord {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    max-width: var(--text-content-max-width);
  }

  .joinDiscord__discord {
    right: -1rem;
    top: -2rem;
    transform: unset;
    left: unset;
    transform: rotate(20deg);
  }

  .joinDiscord__checkOut {
    transform: rotate(-20deg);
    top: -2rem;
    left: -3rem;
  }
}
