.overlay__container {
  height: 1080px;
  width: 1920px;
  background-color: transparent;
  padding: 2rem;
}

.overlay__one__topLeft {
  display: grid;
  width: 380px;
  grid-template-columns: 2fr 4fr;
  column-gap: 1rem;
  grid-template-areas:
    "one_moth ."
    "one_moth one_url"
    "one_moth .";
}

.overlay__one__moth {
  grid-area: one_moth;
  width: 120px;
  z-index: 2;
}

.overlay__one__url {
  /* transform: translateX(-200%); */
  z-index: 1;
  grid-area: one_url;
  display: inline-grid;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: var(--font-weight-bold);
  padding: 1rem;
  text-align: center;
  border: 0.25rem solid var(--yellow);
  box-shadow: 0.5rem 0.5rem 0 0 var(--red);
}


.overlay__whosNext__topLeft {
  column-gap: 1rem;
}

.overlay__whosNext__upNext {
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: var(--red);
  box-shadow: 0.5rem 0.5rem 0 0 var(--green);
  border: 0.25rem solid var(--yellow);
  height: 120px;
  width: 60px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.overlay__whosNext__upNext p{
  transform: rotate(-90deg);
}

.overlay__whosNext__container {
  display: flex;
  flex-direction: row;
  opacity: 1;
  max-height: 120px;
}


.overlay__whosNext__avatar {
  width: 120px;
  margin-right: 20px;
}

.overlay__whosNext__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  min-width: 320px;
  max-height:120px;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  border: 0.25rem solid var(--yellow);
  box-shadow: 0.5rem 0.5rem 0 0 var(--red);
}
.overlay__whosNext__details__streamer {
  font-weight: var(--font-weight-bold);
  margin-bottom: .5rem;
}
.overlay__whosNext__details__title {
  max-width: 500px;
  font-size: 1.2rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
