.explainer {
  font-size: 1.6rem;
  margin-bottom: 4rem;
  text-align: center;
  max-width: 40ch;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.grid a {
  text-decoration: none;
  color: var(--white);
}

.grid__linkImg {
  text-align: center;
}

.grid a:focus {
  outline: transparent;
  box-shadow: var(--focus-box-shadow);
}

.grid__image {
  background-color: var(--black);
  border: 0.25rem solid var(--white);
  border-radius: 50%;
}

.grid__streamerName {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--yellow);
}

.grid__meta {
  color: var(--white);
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .grid {
    max-width: 769px;
    grid-template-columns: 1fr 2fr;
  }

  .grid__meta {
    text-align: left;
  }
}
