@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px var(--neon),
      0 0 80px var(--neon), 0 0 90px var(--neon), 0 0 100px var(--neon), 0 0 150px var(--neon);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.text {
  animation: flicker 1.5s infinite alternate;
  font-family: beon;
  font-size: 24px;
  color: var(--white);
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px var(--neon),
    0 0 80px var(--neon), 0 0 90px var(--neon), 0 0 100px var(--neon), 0 0 150px var(--neon);
  transform: rotate(-15deg);
  transform-origin: left;
  position: relative;
  left: -4px;
  top: 28px;
  width: 133px;
  text-align: center;
}

.countdown {
  display: block;
  width: 133px;
  letter-spacing: 1.5px;
  text-align: left;
  position: relative;
  left: 2px;
}

.moth {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: var(--red);
  box-shadow: var(--black) 0 0 0 0.25rem, var(--yellow) 0 0 0 0.5rem;
  display: flex;
  justify-content: center;
}

.moth svg {
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
  height: 110%;
  width: 110%;
}

.blockSeparator {
  display: block;
}
