.avatar {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: var(--black);
  box-shadow: 0.5rem 0.5rem 0 0 var(--purple);
  border: 0.25rem solid var(--white);
}

.avatar__img {
  width: 100%;
  height: 100%;
  display: block;
}

.avatar__status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: var(--white);
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;

}
