.streamers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  list-style: none;
  padding: 0;
}

.item {
  text-decoration: none;
}

.item:focus {
  outline: none;
  display: block;
  box-shadow: var(--focus-box-shadow);
}
